---
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";

import SiteWide from '~layouts/SiteWide.astro';
import { Four04, BLAHG, SITE_SUBTITLE } from '~/consts';

const posts = (await getCollection('blahg')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<SiteWide title={Four04.pageTitle} description={Four04.pageDesc}>
  <section itemscope itemtype="https://schema.org/WebPage" class="readable">
    <h1 itemprop="name">{Four04.title}</h1>
    <p itemprop="description">{Four04.description}</p>
    <ul class="page-list">
      <li><a href="/" itemprop="relatedLink">Home page of scottnath.com</a></li>
      <li><a href="/whoami/" itemprop="relatedLink">The Scott Nath About page</a></li>
      <li><a href="/resume/" itemprop="relatedLink">Resume for Scott Nath, {SITE_SUBTITLE}</a></li>
      <li><a href="/sitemap.xml" target="_blank" itemprop="significantLink">Sitemap: scottnath.com/sitemap.xml</a></li>
      <li><a href="/blahg/" itemprop="relatedLink">{BLAHG.title}</a><ul>
      {
        posts.map((post, index) => (
          <li itemprop="significantLink" itemscope itemtype="https://schema.org/BlogPosting">
            <a href={`/blahg/${post.slug}/`} itemprop="name">{post.data.title}</a>
          </li>
        ))
      }
      </ul></li>
    </ul>
  </section>
</SiteWide>
<style>
  a {
    text-decoration: none;
  }
</style>
