---
import SiteWide from '~layouts/SiteWide.astro';
import {JsonResumeUI} from 'jsonresume-component/ui';
import { SITE_SUBTITLE, SITE_DESCRIPTION } from '../consts.ts'
import resumejson from '../../public/resume.json'
import styles from 'jsonresume-component/src/style.css?inline'

const pageTitle = `Resume for Scott Nath - ${SITE_SUBTITLE}`;
---
<SiteWide title={pageTitle} description={SITE_DESCRIPTION}>
  <div class="resume">
    <JsonResumeUI resumejson={resumejson} stylesheet={styles} style="--color-background: var(--bg-color-normal); --color-link: var(--color-link); --color-primary: var(--color-normal); --color-secondary: var(--color-light); --color-dimmed: var(--bg-color-light)"></JsonResumeUI>
  </div>
</SiteWide>
<style>
  .readable:has(.actions) {
    margin-bottom: 0;
  }
  .resume {
    max-width: 51em;
    margin: 0 auto;
  }
</style>