---
import type { CollectionEntry } from 'astro:content';
import SiteWide from './SiteWide.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blahg'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<SiteWide title={title} description={description} image={heroImage}>
	<article class="blog-post">
		{heroImage && <img width="100%" height="auto" src={heroImage} alt="" />}
		<h1 class="title">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<slot />
	</article>
</SiteWide>
