---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import SiteWide from './SiteWide.astro';
import FormattedDate from '../components/FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage, series } = Astro.props;

/**
 * @todo add series after design launch
 */
async function getSeries() {
	const posts = await getCollection('blahg');
	return posts.filter((post) => ({
		params: { series },
		props: post,
	}));
}
type Props = CollectionEntry<'blahg'>['data'];

---

<SiteWide title={title} description={description} image={heroImage}>
	<article class="blog-post">
		{heroImage && <img width="100%" height="auto" src={heroImage} alt="" />}
		<h1 class="title">{title}</h1>
    <p>{description}</p>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
    <div class="readable"><slot /></div>
	</article>
</SiteWide>
